// server hash
server_hash = "cc9039c4e1b90e12756c50885dbe0e6f";

// listen address
listen_addr = "0.0.0.0";

// listen port
listen_port = 4661;

// listen backlog
listen_backlog = 5;

// welcom message, optional
welcome_message = "test messaage";

// allow lowid clients
allow_lowid = 1;

// port check timeout (milliseconds)
portcheck_timeout = 20000;
 
// server status notify interval (milliseconds)
status_notify_interval = 5000;

// maximum connected clients
max_clients = 100000;

// maximum shared files on server
max_files = 100000000;

// maximum shared files per client
max_files_per_client = 20000;

// maximum number of client's file offers per second
max_offers_limit = 2;

// maximum number of client's search requests per second
max_searches_limit = 10;
